# ==== Java / Maven / Gradle ====
target/
*.class
*.jar
*.war
*.ear
*.log

# Maven Wrapper
.mvn/
!**/mvnw
!**/mvnw.cmd
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# ==== IDE ====

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse / STS
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans/
.sts4-cache/

# VSCode
.vscode/

# ==== ОС / Временные ====
.DS_Store
Thumbs.db
*.swp
*.tmp

# ==== Docker ====
*.pid
*.tar
docker-compose.override.yml

# ==== Файлы окружения ====
.env
.env.*
*.local
*.secret

# ==== Тестовые / временные файлы ====
coverage/
test-output/
*.test.js

# ==== Logs ====
logs/
*.log